<div class="main-container">
    <div class="col-lg-6 d-flex flex-column justify-content-center align-items-center login-container">
        <h1>Login</h1>
        <form class="form-container row col-lg-12 d-flex flex-column gap-2">
            <div class="col-lg-12 d-flex gap-2 justify-content-center m-0 email-container row">
                <label class="col-lg-2" for="email">Email</label>
                <input class="col-lg-4" type="email" id="email" placeholder="Enter email">
            </div>
            <div class="col-lg-12 d-flex gap-2 justify-content-center m-0 row">
                <label class="col-lg-2" for="password">Password</label>
                <input class="col-lg-4" type="password" id="password" placeholder="Enter password">
            </div>
            <div class="row btns d-flex justify-content-center m-0 gap-2">
                <button class="col-lg-2 btn btn-primary" type="submit">Login</button>
                <button class="col-lg-2 btn btn-primary" type="button">SignUp</button>
            </div>
        </form>
    </div>
</div>