.login-container {
    width: 45%;
    height: 45%;
    border: 1px solid rgb(0, 0, 0);
    padding: 20px;
    border-radius: 10px;
}

.main-container {
    // background-color: red;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}